*{
  margin: 0;
  padding: 0;
}

#contenedor {
  margin: 0 auto;
  width: 960px;
}

body {
  background-color: #cadde5;
}

header, footer{
  background-color: #3b4455;
  padding: 15px;
  margin: auto;
  color: #fff;
  text-align: center;
  font-family: cursive;
}

header h1 span {
  text-decoration: underline;
}
header h1 span, footer p span {
  color: #ff0;
  font-weight: bold;
}

h2 span {
  color: #00f;
  font-weight: bold;
}

.parrafo {
  color: #969100;
  margin: 10px;
  text-align: justify;
}

#lista {
  color: #685a51;
  list-style-type: none;
}

h3 {
  font-size: 24px;
  text-align: center;
  color: #00f;
  font-family: sans-serif;
}

header {
  border-bottom: 3px solid #c02e24;
}

header img {
  padding-top: 15px;
}

 nav {
  margin: 10px 0 0 420px;
}

nav ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

 nav ul li {
  border-right: 1px solid #c02e24;
  display: inline;
  float: left;
  font-size: 18px;
  list-style: none;
  /* margin: 0;
   padding: 0; */
  text-transform: uppercase;
}

 nav ul li:last-child {
  border: 0;
}

 nav ul li a {
  color: #c02e24;
  display: block;
  padding: 12px 24px;
  text-decoration: none;
  transition-duration: .5s;
  transition-property: background;
  transition-timing-function: linear;
}

 nav ul li a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #c02e24;
}

main {
background-color: #fff;
padding: 25px;
}

main p {
  color: #616161;
  font-family: helvetica;
  font-size: 15px;
  line-height: 1.5;
  padding: 5px;
  text-align: justify;
}
